
<div id="hotel" style="text-align: left">
  <h1> Cliniques</h1>
  <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
    Insertion sur une cle primaire qui existe deja
  </div>
    <ul style="list-style: none;">
      NoClinique : <li><input class="form-control col-md-4" #cliniqueNo></li>
      Nom : <li><input class="form-control col-md-4" #cliniqueName></li>
      Adresse : <li><input class="form-control col-md-4" #adresse></li>
      Tel : <li><input  class="form-control col-md-4" #telNumber></li>
      Fax : <li><input  class="form-control col-md-4" #faxNumber></li>
    <li><button type="button" class="btn btn-primary" 
      (click)="insertClinique(cliniqueNo.value,cliniqueName.value, adresse.value, telNumber.value,faxNumber.value)"> Ajouter Clinique</button></li>
    </ul>
  </div>

  <div id="ht" style="text-align:center" *ngIf="route != '/room'">
    <button type="button" class="btn btn-primary" (click)="getCliniques()">Obtenir Cliniques</button>
    <table id ="ht" align="center" border="1" width="95%">
      <thead>
        <th> CLINIQUE NO</th>
        <th> NOM</th>
        <th> ADRESSE</th>
        <th> TEL </th>
        <th> FAX</th>
      </thead>
      <tbody>
        <tr *ngFor="let clinique of cliniques">
          <td> {{clinique.cliniqueNumber}}</td>
          <td> {{clinique.cliniqueName}}</td>
          <td> {{clinique.adresse}}</td>
          <td> {{clinique.telNumber}}</td>
          <td> {{clinique.faxNumber}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  
