
<div id="hotel" style="text-align: left">
    <h1> Employés</h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Insertion sur une cle primaire qui existe deja
    </div>
      <ul style="list-style: none;">
        NoEmployé : <li><input class="form-control col-md-4" #noEmploye></li>
        Nom : <li><input class="form-control col-md-4" #nom></li>
        Adresse: <li><input class="form-control col-md-4" #adresse></li>
        Date de naissance : <li><input  class="form-control col-md-4" #dob></li>
        Sexe : <li>
              <select class="form-control col-md-4" #sex>
              <option>M</option>
              <option>F</option>
              </select>
              </li>
        Tel : <li><input  class="form-control col-md-4" #tellNum></li>
        NAS : <li><input  class="form-control col-md-4" #NAS></li>
        Salaire : <li><input  class="form-control col-md-4" #salaire></li>
        Fonction :  <li>
                        <select class="form-control col-md-4" #fonction>
                        <option>veterinaire</option>
                        <option>infirmiere</option>
                        <option>secretaire</option>
                        <option>concierge</option>
                        <option>gestionnaire</option>
                        </select>
                    </li>
        NoClinique: <li>
                          <select class="form-control col-md-4" #noClinique>
                          <option  *ngFor="let cliniqueNo of cliniquesNo" >{{cliniqueNo}}</option>
                          </select>
                      </li>
      <li><button type="button" class="btn btn-primary" 
        (click)="insertEmploye(noEmploye.value,nom.value, 
                          adresse.value, dob.value,sex.value,tellNum.value,NAS.value,salaire.value,fonction.value,noClinique.value)"> Ajotuer Employé</button></li>
      </ul>
    </div>
  
    <div id="ht" style="text-align:center" *ngIf="route != '/room'">
      <button type="button" class="btn btn-primary" (click)="getEmployees()">Obtenir Employés</button>
      <table id ="ht" align="center" border="1" width="95%">
        <thead>
          <th> NO EMPLOYE</th>
          <th> NOM</th>
          <th> ADRESSE</th>
          <th> DOB</th>
          <th> SEX</th>
          <th> TEL</th>
          <th> NAS</th>
          <th> SALAIRE</th>
          <th> FONCTION</th>
          <th> NO CLINIQUE</th>
        </thead>
        <tbody>
          <tr *ngFor="let employe of employees">
            <td> {{employe.noEmploye}}</td>
            <td> {{employe.nom}}</td>
            <td> {{employe.adresse}}</td>
            <td> {{employe.dob}}</td>
            <td> {{employe.sex}} </td>
            <td> {{employe.tellNum}}</td>
            <td> {{employe.NAS}}</td>
            <td> {{employe.salaire}}</td>
            <td> {{employe.fonction}}</td>
            <td> {{employe.noClinique}} </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  