<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="animals#add">Ajouter</a>
      <a class="nav-item nav-link active" href="animals#name">Rechercher</a>
      <a class="nav-item nav-link active" href="animals#traitement">Traitement</a>
    </div>
  </div>
</nav>


<div id="ht" style="text-align:center" *ngIf="route != '/room'">
  <table id ="ht" align="center" border="1" width="95%">
    <thead>
      <th> NOANIMAL</th>
      <th> NOM</th>
      <th> TYPE</th>
      <th> DESCRIPTION</th>
      <th> DOB</th>
      <th> DATE_INSCRIPTION</th>
      <th> ETAT</th>
      <th> NOPROPRIO</th>
      <th> CLINIQUENO</th>
      <th> CLINIQUENO</th>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td> {{animal.noAnimal}}</td>
        <td> <input id="nom-{{animal.noAnimal}}" type="text" value={{animal.nom}} style="background-color: #ffffff;"  #name></td>
        <td> {{animal.type}}</td>
        <td> <input id="desc-{{animal.noAnimal}}" type="text" value={{animal.description}} style="background-color: #ffffff;" #desc></td>
        <td> {{animal.dob}} </td>
        <td> {{animal.date_inscription}}</td>
        <td> <input id="desc-{{animal.noAnimal}}" type="text" value={{animal.etat}} style="background-color: #ffffff;" #state></td>
        <td> {{animal.noProprio}}</td>
        <td> {{animal.noClinique}}</td>
        <td> <button type="button" (click)="delete(animal.noAnimal,animal.noClinique)" class="btn btn-primary">Supprimer</button></td>
        <td> <button type="button" (click)="updateAnimal(animal.noAnimal,animal.noClinique,name.value,desc.value , state.value )" class="btn btn-primary">MAJ</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: left">
    <h1 id="add"> Animals </h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Insertion sur une cle primaire qui existe deja
    </div>
    <ul style="list-style: none;">
      noAnimal : <li><input class="form-control col-md-4" #noAnimal></li>
      nom : <li><input class="form-control col-md-4" #nom></li>
      type : <li><input  class="form-control col-md-4" #type></li>
      description : <li><input  class="form-control col-md-4" #description></li>
      dob : <li><input class="form-control col-md-4" #dob></li>
      date_inscription : <li><input class="form-control col-md-4" #date_inscription></li>
      etat : <li><input class="form-control col-md-4" #etat></li>
      noProprio : <li>
        <select class="form-control col-md-4" #noProprio>
          <option  *ngFor="let proprioNo of propriosNo" >{{proprioNo}}</option>
        </select>
      </li>
      CliniqueNo : <li>
        <select class="form-control col-md-4" #noClinique>
          <option  *ngFor="let cliniqueNo of cliniquesNo" >{{cliniqueNo}}</option>
        </select>
      </li>
    </ul>
    <li><button type="button" class="btn btn-primary" 
      (click)="insertAnimal(noAnimal.value,nom.value, type.value, description.value,
                            dob.value, date_inscription.value, etat.value, 
                            noProprio.value, noClinique.value )"> Ajouter Animal</button>  
      <a type="button" class="btn btn-primary" href="animals#top">Haut de page</a>
    </li>
                            
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 style="text-align: left" id="name"> Animal selon le nom </h1>
  <h4 style="text-align: left"> Note: si rien ne sort, c'est que votre animal n'est pas dans notre base de données! </h4>
  <div id="hotel" style="text-align: left">
    <ul style="list-style: none;">
      nom : <li><input class="form-control col-md-4" #nomFN></li>
    </ul>
  </div>
  <div id="ht" style="text-align:center" *ngIf="route != '/room'">
    <button type="button" class="btn btn-primary" (click)="getAnimalsFromName(nomFN.value)">Obtenir animal selon le nom</button>
    <table id ="ht" align="center" border="1" width="95%">
      <thead>
        <th> NOANIMAL</th>
        <th> NOM</th>
        <th> TYPE</th>
        <th> DESCRIPTION</th>
        <th> DOB</th>
        <th> DATE_INSCRIPTION</th>
        <th> ETAT</th>
        <th> NOPROPRIO</th>
        <th> CLINIQUENO</th>
      </thead>
      <tbody>
        <tr *ngFor="let animalFN of animalsFN">
          <td> {{animalFN.noAnimal}}</td>
          <td> {{animalFN.nom}}</td>
          <td> {{animalFN.type}}</td>
          <td> {{animalFN.description}}</td>
          <td> {{animalFN.dob}} </td>
          <td> {{animalFN.date_inscription}}</td>
          <td> {{animalFN.etat}}</td>
          <td> {{animalFN.noProprio}}</td>
          <td> {{animalFN.noClinique}}</td>
        </tr>
      </tbody>
    </table>
    <a type="button" class="btn btn-primary" href="animals#top">Haut de page</a>

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 style="text-align: left" id="traitement"> Traitements d'un animal à partir de sa clé primaire </h1>
  <div id="hotel" style="text-align: left">
    <ul style="list-style: none;">
      noAnimal : <li><input class="form-control col-md-4" #noAnimalQ2></li>
      noClinique : <li><input class="form-control col-md-4" #noCliniqueQ2></li>
    </ul>
  </div>
  <div id="ht" style="text-align:center" *ngIf="route != '/room'">
    <button type="button" class="btn btn-primary" (click)="getTraitementsFFK(noAnimalQ2.value, noCliniqueQ2.value)">Obtenir traitement selon clé primaire</button>
    <table id ="ht" align="center" border="1" width="95%">
      <thead>
        <th> NO TRAITEMENT</th>
        <th> DESCRIPTION</th>
        <th> COUT</th>
      </thead>
      <tbody>
        <tr *ngFor="let traitement of traitements">
          <td> {{traitement.noTraitement}}</td>
          <td> {{traitement.description}}</td>
          <td> {{traitement.cout}}</td>
        </tr>
      </tbody>
    </table>
    <a type="button" class="btn btn-primary" href="animals#top">Haut de page</a>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 style="text-align: left" id="facture"> Facture Par Examen </h1>
  <div id="hotel" style="text-align: left">
    <ul style="list-style: none;">
      noAnimal : <li><input class="form-control col-md-4" #noAnimalQ4></li>
      noClinique : <li><input class="form-control col-md-4" #noCliniqueQ4></li>
    </ul>
  </div>
  <div id="ht" style="text-align:center" *ngIf="route != '/room'">
    <button type="button" class="btn btn-primary" (click)="getFacture(noAnimalQ4.value, noCliniqueQ4.value)">Obtenir facture </button>
    <table id ="ht" align="center" border="1" width="95%">
      <thead>
        <th> NO TRAITEMENT</th>
        <th> DESCRIPTION</th>
        <th> COUT</th>
      </thead>
      <tbody>
        <tr *ngFor="let facturerow of facture">
          <td> {{facturerow.noTraitement}}</td>
          <td> {{facturerow.description}}</td>
          <td> {{facturerow.cout}}</td>
        </tr>
      </tbody>
    </table>
    <a type="button" class="btn btn-primary" href="animals#top">Haut de page</a>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
