
<div id="hotel" style="text-align: left">
  <h1> Animals </h1>
  <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
    Insertion sur une cle primaire qui existe deja
  </div>
    <ul style="list-style: none;">
      noAnimal : <li><input class="form-control col-md-4" #noAnimal></li>
      nom : <li><input class="form-control col-md-4" #nom></li>
      type : <li><input  class="form-control col-md-4" #type></li>
      description : <li><input  class="form-control col-md-4" #description></li>
      dob : <li><input class="form-control col-md-4" #dob></li>
      date_inscription : <li><input class="form-control col-md-4" #date_inscription></li>
      etat : <li><input class="form-control col-md-4" #etat></li>
      noProprio : <li>
                    <select class="form-control col-md-4" #noClinique>
                    <option  *ngFor="let proprioNo of propriosNo" >{{proprioNo}}</option>
                    </select>
                  </li>
      CliniqueNo : <li>
                    <select class="form-control col-md-4" #noClinique>
                    <option  *ngFor="let cliniqueNo of cliniquesNo" >{{cliniqueNo}}</option>
                    </select>
                  </li>
    <li><button type="button" class="btn btn-primary" 
      (click)="insertClinique(cliniqueNo.value,cliniqueName.value, adresse.value, telNumber.value,faxNumber.value)"> Add Animal</button></li>
    </ul>
  </div>

  <div id="ht" style="text-align:center" *ngIf="route != '/room'">
    <button type="button" class="btn btn-primary" (click)="getCliniques()">Get Animals</button>
    <table id ="ht" align="center" border="1" width="95%">
      <thead>
        <th> NOANIMAL</th>
        <th> NOM</th>
        <th> TYPE</th>
        <th> DESCRIPTION</th>
        <th> DOB</th>
        <th> DATE_INSCRIPTION</th>
        <th> ETAT</th>
        <th> NOPROPRIO</th>
        <th> CLINIQUENO</th>
      </thead>
      <tbody>
        <tr *ngFor="let clinique of cliniques">
          <td> {{clinique.cliniqueNumber}}</td>
          <td> {{clinique.cliniqueName}}</td>
          <td> {{clinique.adresse}}</td>
          <td> {{clinique.telNumber}}</td>
          <td> {{clinique.faxNumber}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  
