
<div id="hotel" style="text-align: left">
  <h1> Animals </h1>
  <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
    Insertion sur une cle primaire qui existe deja
  </div>
    <ul style="list-style: none;">
      noAnimal : <li><input class="form-control col-md-4" #noAnimal></li>
      nom : <li><input class="form-control col-md-4" #nom></li>
      type : <li><input  class="form-control col-md-4" #type></li>
      description : <li><input  class="form-control col-md-4" #description></li>
      dob : <li><input class="form-control col-md-4" #dob></li>
      date_inscription : <li><input class="form-control col-md-4" #date_inscription></li>
      etat : <li><input class="form-control col-md-4" #etat></li>
      noProprio : <li>
                    <select class="form-control col-md-4" #noProprio>
                    <option  *ngFor="let proprioNo of propriosNo" >{{proprioNo}}</option>
                    </select>
                  </li>
      CliniqueNo : <li>
                    <select class="form-control col-md-4" #noClinique>
                    <option  *ngFor="let cliniqueNo of cliniquesNo" >{{cliniqueNo}}</option>
                    </select>
                  </li>
    <li><button type="button" class="btn btn-primary" 
      (click)="insertAnimal(noAnimal.value,nom.value, type.value, description.value,
                            dob.value, date_inscription.value, etat.value, 
                            noProprio.value, noClinique.value )"> Add Animal</button></li>
    </ul>
  </div>

  <div id="ht" style="text-align:center" *ngIf="route != '/room'">
    <button type="button" class="btn btn-primary" (click)="getAnimals()">Get Animals</button>
    <table id ="ht" align="center" border="1" width="95%">
      <thead>
        <th> NOANIMAL</th>
        <th> NOM</th>
        <th> TYPE</th>
        <th> DESCRIPTION</th>
        <th> DOB</th>
        <th> DATE_INSCRIPTION</th>
        <th> ETAT</th>
        <th> NOPROPRIO</th>
        <th> CLINIQUENO</th>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animals">
          <td> {{animal.noAnimal}}</td>
          <td> {{animal.nom}}</td>
          <td> {{animal.type}}</td>
          <td> {{animal.description}}</td>
          <td> {{animal.dob}} </td>
          <td> {{animal.date_inscription}}</td>
          <td> {{animal.etat}}</td>
          <td> {{animal.noProprio}}</td>
          <td> {{animal.noClinique}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 style="text-align: left"> Animal from name </h1>
  <h4 style="text-align: left"> Note: si rien ne sort, c'est que votre animal n'est pas dans notre base de données! </h4>
  <div id="hotel" style="text-align: left">
    <ul style="list-style: none;">
      nom : <li><input class="form-control col-md-4" #nomFN></li>
    </ul>
  </div>
  <div id="ht" style="text-align:center" *ngIf="route != '/room'">
    <button type="button" class="btn btn-primary" (click)="getAnimalsFromName(nomFN.value)">Get Animal from name </button>
    <table id ="ht" align="center" border="1" width="95%">
      <thead>
        <th> NOANIMAL</th>
        <th> NOM</th>
        <th> TYPE</th>
        <th> DESCRIPTION</th>
        <th> DOB</th>
        <th> DATE_INSCRIPTION</th>
        <th> ETAT</th>
        <th> NOPROPRIO</th>
        <th> CLINIQUENO</th>
      </thead>
      <tbody>
        <tr *ngFor="let animalFN of animalsFN">
          <td> {{animalFN.noAnimal}}</td>
          <td> {{animalFN.nom}}</td>
          <td> {{animalFN.type}}</td>
          <td> {{animalFN.description}}</td>
          <td> {{animalFN.dob}} </td>
          <td> {{animalFN.date_inscription}}</td>
          <td> {{animalFN.etat}}</td>
          <td> {{animalFN.noProprio}}</td>
          <td> {{animalFN.noClinique}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 style="text-align: left"> Traitements d'un animal à partir de sa clé primaire </h1>
  <div id="hotel" style="text-align: left">
    <ul style="list-style: none;">
      noAnimal : <li><input class="form-control col-md-4" #noAnimalQ2></li>
      noClinique : <li><input class="form-control col-md-4" #noCliniqueQ2></li>
    </ul>
  </div>
  <div id="ht" style="text-align:center" *ngIf="route != '/room'">
    <button type="button" class="btn btn-primary" (click)="getTraitementsFFK(noAnimalQ2.value, noCliniqueQ2.value)">Get Animal from name </button>
    <table id ="ht" align="center" border="1" width="95%">
      <thead>
        <th> NO TRAITEMENT</th>
        <th> DESCRIPTION</th>
        <th> COUT</th>
      </thead>
      <tbody>
        <tr *ngFor="let traitement of traitements">
          <td> {{traitement.noTraitement}}</td>
          <td> {{traitement.description}}</td>
          <td> {{traitement.cout}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
