<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand title" href="/">Accueil</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/clinique">Cliniques</a>
        <a class="nav-item nav-link active" routerLink="/proprio">Propriétaires</a>
        <a class="nav-item nav-link active" routerLink="/employe">Employés</a>
        <a class="nav-item nav-link active" routerLink="/animals">Animaux</a>
        <a class="nav-item nav-link active" routerLink="/traitement">Traitements</a>
      </div>
    </div>
  </nav>

<div style="text-align:center">
<div *ngIf="route == ''" id="top">
  <button type="button" class="btn btn-danger" (click) ="createDB()">Réinitialiser la base de données</button>
</div>

<router-outlet></router-outlet>





